@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 welcome-message">Welcome to Tourism APP</h1>    
</div>
<div id="weatherwidget" class="weatherwidget" style="width:25%; height: 20%; float:right;"></div>
<script src="https://widget.meteomatics.com/widget/Dublin/53.3498_-6.2603/width/on/weatherwidget?unit=C" type="text/javascript"></script>